* {
  font-family: DejaVu Sans;
  font-size: 12px;
}

#waybar {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.modules-left, .modules-center, .modules-right {
  margin: 4px 0 0 0;
  border-radius: 16px;
}

.modules-left label, .modules-center label, .modules-right label, #tray {
  padding: 0 12px;
  border-radius: 8px;
  background-color: @card_fg_color;
  color: @card_bg_color;
}

.modules-center #workspaces label {
  padding: 0;
  background-color: transparent;
}

#workspaces button {
  padding: 0 12px;
  margin-left: 4px;
  border: none;
  background-color: @card_fg_color;
}

#workspaces button:hover, #workspaces button.active {
  background-color: @view_bg_color;
}

#workspaces button:hover label, #workspaces button.active label {
  color: @view_fg_color;
}

#tray {
  background-color: @view_bg_color;
}

#tray menu {
  padding: 8px;
}

#tray menu label {
  padding: 2px 0;
  background-color: transparent;
  color: @view_fg_color;
}

#battery.warning {
  background-color: @yellow_1;
}

#battery.critical, #temperature.critical {
  background-color: @red_1;
}

#battery.charging {
  background-color: @green_1;
}

tooltip {
  padding: 8px;
  background: @card_bg_color;
  border: none;
  border-radius: 8px;
}

tooltip label {
  color: @card_fg_color;
  text-shadow: none;
}
