spawn-at-startup "way-edges"

input {
    keyboard {
        xkb {
            layout "latam"
        }
    }
    touchpad {
        tap
        middle-emulation
    }
    mouse {}
}

output "eDP-1" {
    mode "1366x769@60.059"
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 4
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
    }
}

cursor {
    xcursor-theme "Anya"
    xcursor-size 32

    hide-when-typing
    hide-after-inactive-ms 5000
}

recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 24
        corner-radius 4
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

include "misc.kdl"
include "rules.kdl"
include "binds.kdl"
