input {
    keyboard {
        xkb {
            layout "latam"
        }
    }
    touchpad {
        tap
        middle-emulation
    }
    mouse {}
}

output "eDP-1" {
    // mode "1366x768@60.059"
    mode "1366x768@40.042"
    scale 1
    transform "normal"
    position x=0 y=0
}

recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 24
        corner-radius 4
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

include "misc.kdl"
include "layout.kdl"
include "rules.kdl"
include "binds.kdl"
