# --- LANGUAGE SERVERS DEFINITION ---
[language-server.nil]
command = "nil"

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[language-server.emmet-lsp]
command = "emmet-language-server"
args = ["--stdio"]

# --- LANGUAGES CONFIGURATION ---
[[language]]
name = "nix"
language-servers = [ "nil" ]
auto-format = false

[[language]]
name = "html"
language-servers = [ "biome", "emmet-lsp" ]
auto-format = false

[[language]]
name = "css"
language-servers = [ "biome", "emmet-lsp" ]
auto-format = false

[[language]]
name = "javascript"
language-servers = [ "biome" ]
auto-format = false

[[language]]
name = "json"
language-servers = [ "biome" ]
auto-format = false
