# NOTE LANGUAGE SERVER

[language-server.vscode-html-language-server]
args = ["--stdio"]
command = "vscode-html-language-server"

[language-server.vscode-css-language-server]
args = ["--stdio"]
command = "vscode-css-language-server"


# NOTE LANGUAGE

[[language]]
name = "typescript"
language-servers = [ "dprint" ]
auto-format = true

[[language]]
name = "tsx"
language-servers = [ "dprint" ]
auto-format = true

[[language]]
name = "jsx"
language-servers = [ "dprint" ]
grammar = "javascript"
auto-format = true

[[language]]
name = "javascript"
language-servers = [ "dprint" ]
auto-format = true

[[language]]
name = "json"
language-servers = [ "dprint" ]
auto-format = true

[[language]]
name = "html"
language-servers = [ "dprint", "vscode-html-language-server" ]
auto-format = false

[[language]]
name = "css"
language-servers = [ "dprint", "vscode-css-language-server" ]
auto-format = false

[[language]]
name = "scss"
language-servers = [ "dprint", "vscode-css-language-server" ]
auto-format = true
