* {
  font-family: DejaVu Sans;
  font-size: 12px;
}

#waybar {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.modules-left, .modules-center, .modules-right {
  margin: 4px 0 0 0;
  border-radius: 16px;
}

.modules-left label, .modules-center label, .modules-right label, #tray {
  padding: 0 12px;
  border-radius: 8px;
  background-color: #E3E6EE;
  color: #1C1E26;
}

.modules-center #workspaces label {
  padding: 0;
  background-color: transparent;
}

#workspaces button {
  padding: 0 12px;
  margin-left: 4px;
  border: none;
  background-color: #E3E6EE;
}

#workspaces button:hover, #workspaces button.active {
  background-color: #CBCED0;
}

#tray {
  background-color: #1C1E26;
}

#tray menu {
  padding: 8px;
}

#tray menu label {
  padding: 2px 0;
  background-color: transparent;
  color: #E3E6EE;
}

#battery.warning {
  background-color: #fac29a;
}

#battery.critical {
  background-color: #e95678;
}

#battery.charging {
  background-color: #29D398;
}

#temperature.critical {
  background-color: #e95678;
}

tooltip {
  padding: 8px;
  background: #2E303E;
  border: none;
  border-radius: 8px;
}

tooltip label {
  color: #E3E6EE;
  text-shadow: none;
}
