name: Update Flake

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 10 * * 2,5' # Tuesday and Friday 5:00 AM COT (10:00 AM UTC)

permissions:
  contents: write
  pull-requests: write
  checks: write
  id-token: write

jobs:
  lockfile:
    name: Lockfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v17
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v24
        id: update
        with:
          commit-msg: "chore(flake): update inputs"
          pr-title: "chore(flake): update inputs" # Title of PR to be created
          pr-labels: |                  # Labels to be set on the PR
            dependencies
            automated
          pr-body: |
            Automated changes by the [update-flake-lock](https://github.com/DeterminateSystems/update-flake-lock) GitHub Action.

            ```
            {{ env.GIT_COMMIT_MESSAGE }}
            ```
      - name: Check the Flake
        id: check
        run: nix flake check
      - name: Update Check Status
        uses: LouisBrunner/checks-action@v2.0.0
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Update Flake
          conclusion: ${{ job.status }}
          output: |
            {"summary":"${{ steps.check.outputs.stdout }}"}
      - name: Enable Pull Request Automerge
        if: success()
        run: |
          gh pr merge \
            --rebase \
            --auto \
            ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Close Pull Request If Failed
        if: failure()
        run: |
          gh pr close \
            --comment "Auto-closing pull request" \
            --delete-branch \
            ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ github.token }}
